.button {
    background-color: #16a085;
    padding: 15px 40px;
    border-radius: 3px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: "Gotham Rounded Bold";
}

.button:hover {
    background-color: #16a070;
    box-shadow: 1px 1px 1px #ccc;
}
