@font-face {
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Gotham_Rounded_Bold/GothamRounded-Bold.eot");
    src: local("Gotham Rounded Bold"), local("Gotham Rounded Bold"),
        url('../fonts//Gotham_Rounded_Bold//GothamRounded-Bold.svg') format("svg"),
        url("../fonts//Gotham_Rounded_Bold/GothamRounded-Bold.ttf") format("truetype"),
        url("../fonts/Gotham_Rounded_Bold/GothamRounded-Bold.woff") format("woff"),
        url("../fonts/Gotham_Rounded_Bold/GothamRounded-Bold.woff2") format("woff2");
};

@font-face {
    font-family: "Gotham Rounded Book";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gotham_Rounded_Book/GothamRounded-Book.eot");
    src: local("Gotham Rounded Book"), local("Gotham Rounded Book"),
        url('../fonts/Gotham_Rounded_Book//GothamRounded-Book.svg') format("svg"),
        url("../fonts/Gotham_Rounded_Book/GothamRounded-Book.ttf") format("truetype"),
        url("../fonts/Gotham_Rounded_Book/GothamRounded-Book.woff") format("woff"),
        url("../fonts/Gotham_Rounded_Book/GothamRounded-Book.woff2") format("woff2");
};

@font-face {
    font-family: "Gotham Rounded Medium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gotham_Rounded_Medium/GothamRounded-Medium.eot");
    src: local("Gotham Rounded Medium"), local("Gotham Rounded Medium"),
        url("./Gotham_Rounded_Medium/GothamRounded-Medium.svg") format("svg"),
        url("./Gotham_Rounded_Medium/GothamRounded-Medium.ttf") format("truetype"),
        url("./Gotham_Rounded_Medium/GothamRounded-Medium.woff") format("woff"),
        url('./Gotham_Rounded_Medium/GothamRounded-Medium.woff2') format("woff2");
 }