.Header {
    background-image: url('../../images/header_back.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 10px;
}

.Header h1 {
    font-family: "Gotham Rounded Bold";
    text-transform: uppercase;
    color: #fff;
    margin: 120px 0 0 0;
    letter-spacing: 6px;
    
}

.Header p {
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 60px;
    font-weight: 600;
}

.icons {
    color: #fff;
    margin: 80px 10px 0px 10px;
    padding-bottom: 30px;
}
