.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    color: #fff;
    padding-top: 50px;
}

.li {
    margin: 25px auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    
}

@media (max-width: 500px) {
    .ul {
        flex-direction: column;
        justify-items: space-between;
    }

    .li {
        margin: 5px;
    }

    .img {
        margin: 5px;
    }
    
}